<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_collection_image"), new_admin_collection_collection_image_url(params[:collection_id]), :icon => 'add', :id => 'admin_new_collection_image_link' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= link_to @collection.name, admin_collections_url(@collection) %> <%= t("collection_images") %></h1>

<table class="index sortable" data-hook="images_table" data-sortable-link="<%= update_positions_admin_collection_collection_images_url(@collection) %>">
  <tr>
    <th><%= t("name") %></th>
  </tr>

  <% @collection_images.each do |collection_image| %>
    <tr id="<%= spree_dom_id collection_image %>">
      <td>
        <span class="handle"></span>
        <%= link_to(image_tag(collection_image.attachment.url(:small)), collection_image.attachment.url(:medium)) %>
      </td>
      <td class="actions">
        <%= link_to_with_icon('edit', t("edit"), edit_admin_collection_collection_image_url(@collection,collection_image), :class => 'edit') %>
        &nbsp;
        <%= link_to_delete collection_image, {:url => admin_collection_collection_image_url(@collection,collection_image) }%>
      </td>
    </tr>
  <% end %>
</table>
