<tr>
  <td><%= t("name") %>:</td>
  <td><%= f.text_field :name %></td>
</tr>
<tr>
  <td><%= t("description") %>:</td>
  <td><%= f.text_field :description %></td>
</tr>
<tr>
  <td><%= t("collection_group") %>:</td>
  <td><%= collection_select(:collection, :collection_group_id, @collection_groups, :id, :name, options ={:prompt => "-Select-"}) %>
</td>
</tr>
