<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_collection"), new_admin_collection_url, :icon => 'add', :id => 'admin_new_collection_link' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("collections") %></h1>

<table class="index sortable" id="listing_collections" data-hook  data-sortable-link="<%= update_positions_admin_collections_url %>">
  <tr>
    <th><%= t("name") %></th>
    <th><%= t("description") %></th>
  </tr>

  <% @collections.each do |collection| %>
    <tr id="<%= spree_dom_id collection %>">
      <td>
        <span class="handle"></span>
        <%= collection.name %>
      </td>
      <td>
        <%= collection.description %>
      </td>
      <td class="actions">
      	<%= link_to t("images"), admin_collection_collection_images_url(collection) %>
      	&nbsp;
        <%= link_to_with_icon('edit', t("edit"), edit_admin_collection_url(collection), :class => 'edit') %>
        &nbsp;
        <%= link_to_delete collection, {:url => admin_collection_url(collection) }%>
      </td>
    </tr>
  <% end %>
</table>
